<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    table, th, td {
  border: 1px solid black;
}

</style>
<body>
    <h1>Airbnb Listings</h1>


    <table>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Summary</th>  
        <th>Picture</th>
        
        <%   listings.forEach(listing=>{ %>
        
             <tr>
                 <td> <a href="/airbnb/view-one/<%= listing._id %>"> <%= listing._id %> </a> </td>
        
                 <td> <%= listing.name %> </td> 
            
                 <td> <%= listing.description %> </td>

                 <td> <%= listing.summary %> </td>
                
                 <td>  <img src = <%= listing.images.picture_url %>> </td>
            </tr>

        <br>
    <% }) %> 
    </table>
</body>
</html>